<mxfile modified="2019-03-13T08:37:23.921Z" host="www.draw.io" agent="Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/72.0.3626.121 Safari/537.36" etag="t-cemfK5io1mDSprnD8s" version="10.4.4" type="github"><diagram id="R5tZ-vR3GItVBG2V4vnP" name="Eureka设计原理图">dZE9D4MgEIZ/DbtCY+psbbs4OXQmchUS9AzSaPvriwFrie3E8dx734QV3XwxfJAVCtCEJmIm7EQoTVl+cM9Cnp4ckwBao0QQbaBWLwgwCfShBIyR0CJqq4YYNtj30NiIcWNwimV31HHVgbewA3XD9Z7elLAyTEGzjV9BtXKtnGa593R8FYdJRskFTl+IlYQVBtF6q5sL0Mvy1r34uPMf76cxA739EeCMLbf7RBdi5Rs=</diagram></mxfile>